<ion-view class="animated slideInLeft doglist">

	<script id="dogmodal.html" type="text/ng-template">
	  <ion-modal-view class="adddogmodal">
	    <ion-header-bar>
  		  <button class="button button-icon thelittlecloseicon icon ion-close" ng-click="closethedogmodal()"></button>
	      <h1 class="title">Add Dog</h1>
	    </ion-header-bar>
	    <ion-content>

	    	<img src="https://media.giphy.com/media/xUPGciElNYVE4PKc4o/giphy.gif" ng-if="showloading" style="width: 50vw;">
	    	<img class="myimage" ng-src="{{me}}" ng-if="me">

			<div id="upload-file-container" onclick="document.getElementById('file').click()" ng-if="showfile">
				<p>Click to add photo</p>
				<input class="fileinput" type="file" id="file" onchange="angular.element(this).scope().achange()">
			</div>
<!-- 
			<button  class = "upload" ng-click="uploadfile()">Upload Photo</button> -->
			
			<center>
				<input type="text" placeholder="Dog Name" />
				<input type="text" placeholder="Breed" />
				<input type="text" placeholder="Type" />
				<input type="text" placeholder="Temperment" />
				<textarea placeholder="Special Needs or advice to walkers (if any)"></textarea>
				<input placeholder="Fitness Level" />
				<input type="date" placeholder="Age" />

				<button class="bakcbutton">Add Dog</button>
			</center>
			
	    </ion-content>
	  </ion-modal-view>
	</script>

	<center>

	<ion-content>
		<img class="facebookprofile" src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/13882185_1354509061245524_9026815624279005373_n.jpg?oh=098d53ffd53c4f485ed37357de6f1f1c&oe=59AA1BFE" ui-sref="dogswipe">
		<h1>{{username}}'s Dogs</h1>
		<div class="dogcards">
			<h1>Lucky</h1>
			<h2>Labrodor</h2>
			<p>A beautiful dog that likes to run and jump and stuff</p>
			<img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Too-cute-doggone-it-video-playlist.jpg">
		</div>
		<div class="logoutIcon">
			<i class = "icon ion-power" ng-click="logOut()"></i>
		</div>
	</ion-content>

	</center>

	<div class="bar bar-footer barbrown" ng-click="thedogmodal()">
	  <div class="title">
	  	<i class="icon roundicon ion-plus-round"></i> Add Dog
	  </div>
	</div>

</ion-view>