<ion-view class="doglist" >

	<script id="dogmodal.html" type="text/ng-template">
	  <ion-modal-view class="adddogmodal">
	    <ion-header-bar>
  		  <button class="button button-icon thelittlecloseicon icon ion-close" ng-click="closethedogmodal()"></button>
	      <h1 class="title">Add Dog</h1>
	    </ion-header-bar>
	    <ion-content>

	    	<img src="https://media.giphy.com/media/xUPGciElNYVE4PKc4o/giphy.gif" ng-if="showloading" style="width: 50vw;">
	    	<img class="myimage" ng-src="{{me}}" ng-if="me">

			<div id="upload-file-container" onclick="document.getElementById('file').click()" ng-if="showfile">
				<p>Click to add photo</p>
				<input class="fileinput" type="file" id="file" onchange="angular.element(this).scope().achange()">
			</div>
<!-- 
			<button  class = "upload" ng-click="uploadfile()">Upload Photo</button> -->
			
			<center>
				<input type="text" placeholder="Dog Name" ng-model="Name"/>
				<input type="text" placeholder="Breed" ng-model="Breed"/>
				<input type="text" placeholder="Type" ng-model="Type"/>
				<input type="text" placeholder="Temperment" ng-model="Temperment"/>
				<textarea placeholder="Special Needs or advice to walkers (if any)" ng-model="Special"></textarea>
				<input placeholder="Fitness Level" ng-model="Fitness"/>
				<input type="date" placeholder="Age" ng-model="Age"/>

				<button class="bakcbutton" ng-click="registerdog(Name, Breed, Type, Temperment, Special, Fitness, Age)">Add Dog</button>
			</center>
			
	    </ion-content>
	  </ion-modal-view>
	</script>

	<div class="bar bar-header tabsheader">
  		<button class="button button-icon icon ion-person"></button>
  		<div class="h1 title">{{username}}</div>
  		<button class="button button-icon icon ion-gear-a" ng-click="logOut()"></button>
	</div>

	<center>
 
	<ion-content>
		<!-- <img class="facebookprofile" src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/13882185_1354509061245524_9026815624279005373_n.jpg?oh=098d53ffd53c4f485ed37357de6f1f1c&oe=59AA1BFE" ui-sref="dogswipe">
		<h1>{{username}}'s Dogs</h1> -->
		<div class="emptytext" ng-show="!dogs.length">You dont have any dogs yet</div>
		
		<div class="dogcards" ng-repeat="dog in dogs">
			<h1>{{dog.name}}</h1>
			<h2>{{dog.breed}}</h2>
			<p>{{dog.temperment}}</p>
			<img src="{{dog.photo}}">
		</div>


		<!-- <div class="logoutIcon">
			<i class = "icon ion-gear-a"></i>
		</div> -->
	</ion-content>

	</center>

	<div class="bar bar-footer barbrown" ng-click="thedogmodal()">
	  <div class="title">
	  	<i class="icon roundicon ion-plus-round"></i> Add Dog
	  </div>
	</div>

</ion-view>