<ion-view class = "walk">
	<ion-content>

	<div class = "animated bounceIn walkData">
		<div class = "tripmeter" id="tripmeter">
		  <!-- <p>
		    Starting Location (lat, lon):<br/>
		    <span id="startLat">???</span>°, <span id="startLon">???</span>°
		  </p>
		  <p>
		    Current Location (lat, lon):<br/>
		    <span id="currentLat">???</span>°, <span id="currentLon">???</span>°
		  </p> -->
		  <p class = "Distance">
		    Distance from starting location:<br/>
		    <span id="distance">0</span> km
		  </p>
		</div>
		<img src = "img/logindog.png" class = dog>
		<p class = "dogInfo">Walking: Jack</p>
	</div>
	<div class="animated bounceIn timerBG">
		<timer interval="1000" class = "currentTime">{{hours}} :{{minutes}} :{{seconds}}</timer>
	</div>
	<button class = "walkBtn" ng-click="startWalk()">{{walkstate}}</button>
	<button class = "restartBtn" ng-click="restartWalk()">Restart Walk</button>
	<button class = "doneBtn" ng-click="finishWalk()">Finish Walk</button>

	
	</ion-content>
</ion-view>